.comment {
  padding-left: 2.75rem !important;
}
.nickname {
  padding-left: 1.5rem !important;
}

.comment,
.nickname {
  border-radius: 200px;
  border-color: purple;
}

.comment:hover,
.nickname:hover {
  border-color: pink;
}

.comment,
.comment:focus,
.nickname,
.nickname:focus {
  color: pink;
  box-shadow: none;
}

.labelComment label {
  color: grey;
  padding: 0.75rem 3rem;
}
.labelNickname label {
  color: grey;
  padding: 0.75rem 1.5rem;
}

.btn {
  border-color: pink;
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  background-color: white;
  color: pink;
}

.btn:hover {
  border-color: pink;
  background-color: pink;
  color: white;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.btn:focus {
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
  box-shadow: none !important;
}
