.frame {
  position: relative;
  margin: 16px auto;
  width: 100%;
  height: 100%;
  max-width: 328px;
  max-height: 397px;
  min-height: 397px;
  box-shadow: var(--box-shadow);
}

.image {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 30px 25px 85px;
}

.description {
  position: absolute;
  bottom: 0;
  left: 10%;
}

.description h5 {
  font-size: 1.15rem;
}

.description p {
  font-size: 0.8rem;
}

@media only screen and (min-width: 576px) {
  .description h5 {
    font-size: 1.25rem;
  }

  .description p {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 992px) {
  .frame {
    margin: 32px auto;
  }
}
