.btn,
.btn:hover,
.btn:focus,
.btn:active {
  border-color: grey !important;
}

.btn,
.btn:hover {
  color: grey !important;
}

.btn:focus,
.btn:active {
  color: white;
  background-color: grey;
}

.btn {
  background-color: white;
}

.btn:hover {
  background-color: lightgrey;
}

.btn:focus {
  box-shadow: none !important;
}
