.btn:hover,
.btn:focus,
.btn:active {
  background-color: white !important;
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.btn:hover {
  box-shadow: var(--text-shadow);
}

.btn:active,
.btn:focus {
  box-shadow: none !important;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}
