.pagination {
  justify-content: center;
  margin: 25px 0;
}

.pagination a,
.btnActive span {
  border-radius: 50% !important;
  width: 38px;
  height: 38px;
  margin: 0 5px;
  text-align: center;
}

/* All btns */
.pagination a {
  color: var(--color-secondary);
  border-color: transparent;
}

.pagination a:hover,
.pagination a:focus {
  color: var(--color-secondary);
  background-color: transparent;
  border-color: transparent;
}

.pagination a:hover {
  box-shadow: var(--text-shadow) !important;
}

.pagination a:focus {
  box-shadow: none;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

/* Active numbered btn */
.btnActive span {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-secondary) !important;
}

.btnActive span:focus {
  box-shadow: none;
}
