/* BOOTSTRAP BREAKPOINTS */
/* 

xs < 576px
sm >= 576px
md >= 768px
lg >= 992px
xl >= 1200px
xxl >= 1400px

*/

@media only screen and (min-width: 992px) {
}

/* DEV TOOLS BREAKPOINTS */
/* 

mobile S >= 320px
mobile M >= 375px
mobile L >= 425px
tablet >= 768px
laptop >= 1024px
laptop L >= 1440px
4K >= 2560px

*/
