.content h2,
.content h3,
.content h4,
.content h5 {
  margin: 30px 0 16px;
}

.content p {
  text-align: justify;
}

.content blockquote {
  border-top: 5px solid lightgrey;
  border-bottom: 5px solid lightgrey;
  position: relative;
  margin: 30px 0;
}

.content blockquote::before {
  transform: translate(-50%, -50%);
  position: absolute;
  top: -5%;
  left: 50%;
  width: 100px;
  height: 32px;
  background: #fff url(../../../../../public/left-quotes-sign.png) no-repeat
    center;
  background-size: 32px 32px;
  content: "";
}

.content blockquote p {
  font-size: calc(0.8rem + 1vw);
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin: 8% 10%;
}

.content li::marker {
  /* punktory i cyfry */
}

.content li {
}

.content img {
  max-width: 100%;
  border-radius: 0.2rem;
}

.content iframe {
  display: block;
  margin: 0 auto 20px;
}
