.highlightSecondary,
.highlightPrimary {
  font-weight: bold;
}

.highlightPrimary {
  color: var(--color-primary);
}

.highlightSecondary {
  color: var(--color-secondary);
}

.message {
  border-radius: 20px;
  padding: 15px;
  border-color: var(--color-secondary);
}

.message:focus-visible,
.amount:focus-visible {
  outline: none;
}

.message:focus,
.amount:focus {
  border-color: var(--color-primary);
}

.amount {
  border: none;
  border: var(--color-secondary) solid 1px;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px 0;
  width: 100px;
}

.error {
  color: var(--color-primary);
  padding: 0 15px;
}
