.modal {
  padding: 15px 25px 0 25px;
  border-radius: 20px;
}

.modal button:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.modal button:focus {
  box-shadow: none;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

.title {
  letter-spacing: 3px;
}
.title span {
  color: var(--color-primary);
}

.subtitle {
  font-family: var(--logo-font);
  font-size: 24px;
  padding: 10px 0;
  color: var(--color-primary);
}

.subtitle span {
  color: var(--color-secondary);
}
