.important1,
.important2 {
  font-weight: bold;
}

.important1 {
  color: var(--color-secondary);
}

.important2 {
  color: var(--color-primary);
}

.gift {
  padding: 25px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gift:hover {
  transform: scale(1.05);
  box-shadow: var(--little-box-shadow);
  transition: all 0.3s ease-in-out;
}

.gift:active,
.gift:focus {
  box-shadow: none !important;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

.giftDescription {
  text-align: center;
  width: 130px;
  font-family: var(--logo-font);
  font-size: 20px;
}

.giftPrice {
  color: var(--color-primary);
  font-weight: bold;
}
