.pagination {
  justify-content: center;
}
/* All btns */
.pagination a,
.pagination a:focus {
  color: grey;
  border-color: lightgrey;
  background-color: transparent;
}

.pagination a:hover {
  color: black;
  background-color: gainsboro;
}

.pagination a:focus {
  box-shadow: none;
}

/* Active numbered btn */
.btnActive span {
  background-color: grey !important;
  border-color: grey !important;
}

.btnActive span:focus {
  box-shadow: none;
}
