.card {
  border: none;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: default;
  max-width: 370px;
  margin: 0px auto !important;
}

.image {
  position: relative;
  width: 100%;
  height: 300px;
}

.header {
  text-align: center;
  background-color: white;
  padding: 0 0 1% 0;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  cursor: pointer;
}

.title {
  margin: 6% 0;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  margin: 3% 0;
  font-weight: 200;
  color: var(--color-secondary);
  text-align: center;
}

.text {
  display: none;
}

.footer {
  text-align: end;
  background-color: white;
  padding: 1% 0 0 0;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  display: none;
}

.header:hover,
.title:hover,
.footer:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  box-shadow: var(--text-shadow);
  transition: all 0.3s ease-in-out;
}

.card:hover .text,
.card:hover .footer {
  display: block;
}

.card:hover .image {
  height: 150px !important;
}

.card:hover .title,
.card:hover .subtitle {
  text-align: start;
}
