.cardCaption {
  width: 190px;
  height: 75px;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  left: 50%;
  margin: 0;
  padding: 5px;
}

.cardCaption:hover {
  border-color: transparent;
}

.cardTitle {
  background-color: var(--color-primary);
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 200;
}

.cardTitle:hover {
  background-color: white;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  box-shadow: var(--text-shadow);
}
