.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 24px 0;
}

.header div {
  position: relative;
  width: 50px;
  height: 50px;
}

.header h1 {
  font-family: var(--logo-font);
  color: var(--color-primary);
}

.header h1:hover {
  color: var(--color-secondary);
}
