.menu {
  border: 1px solid var(--color-tetriary-dark);
  border-left: none;
  border-right: none;
}

.container {
  width: 1170px;
}

.searchInput {
  border: none;
  border-bottom: 1px solid var(--color-tetriary-dark) !important;
  color: var(--color-primary);
  margin-right: 0.75rem;
  border-radius: 0;
  font-weight: 200;
}

.searchInput::placeholder {
  color: var(--color-tetriary-dark);
}

.searchInput:hover::placeholder {
  color: var(--color-secondary);
}

.searchInput:hover {
  border-color: var(--color-secondary) !important;
}

.searchInput:focus {
  color: var(--color-primary);
  border-color: transparent !important;
  box-shadow: 0 0 0 0.1rem;
}

.searchIcon {
  width: 25px;
  height: 25px;
  color: var(--color-base) !important;
}

.searchIcon:hover {
  color: var(--color-secondary) !important;
}
