/* PREV NEXT PAGE STYLE */

.prevNextCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px !important;
  margin: 10px auto !important;
  padding: 0 20px;
  overflow: visible !important;
  position: relative;
  box-shadow: var(--little-box-shadow);
}

.prevNextCard:hover {
  color: var(--color-secondary);
  border-color: var(--color-primary);
  box-shadow: var(--little-box-shadow);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer !important;
}
