.slide {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 0.2rem;
  overflow: hidden;
}

.slide::after {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

@media only screen and (min-width: 425px) {
  .slide {
    height: 450px;
  }

  .slide::after {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 20%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }
}

@media only screen and (min-width: 768px) {
  .slide {
    height: 550px;
  }

  .slide::after {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }
}

@media only screen and (min-width: 1024px) {
  .slide {
    height: 649px;
    max-width: 1170px;
  }

  .slide::after {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }
}
