.header {
  text-align: center;
  background-color: white;
  padding: 0 0 1% 0;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  cursor: pointer;
}

.title {
  margin: 6% 0;
  font-weight: 700;
}

.footer {
  text-align: end;
  background-color: white;
  padding: 1% 0 0 0;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.header:hover,
.title:hover,
.footer:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.picture {
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
  width: 90% !important;
  margin: auto;
  margin-top: -20px;
  height: 200px !important;
}

.picture:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  box-shadow: var(--text-shadow);
}

@media only screen and (min-width: 768px) {
  .picture {
    width: 45% !important;
    margin: auto 0;
    margin-left: -20px;
    height: 250px !important;
  }
}
