.btn {
  border-radius: 25px;
  color: white !important;
  padding: 10px 20px;
}

.btnIcon {
  color: white;
}

.btn:hover .btnIcon {
  color: var(--color-secondary);
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  border-color: var(--color-secondary) !important;
}

.btn:hover {
  color: var(--color-secondary) !important;
  transform: scale(1.05);
  box-shadow: var(--little-box-shadow);
  transition: all 0.3s ease-in-out;
}

.btn,
.btn:focus,
.btn:active {
  background-color: var(--color-secondary);
}

.btn:active,
.btn:focus {
  box-shadow: none !important;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: white;
}

.btn:focus {
  box-shadow: none !important;
}

.btn:disabled {
  color: grey !important;
  background-color: lightgrey;
  border-color: grey !important;
}

.btn:disabled .btnIcon {
  color: grey;
}
