:root {
  --main-font: "Raleway", sans-serif;
  --logo-font: "Caveat", cursive;

  --color-base: #484554;
  --color-primary: #ffa79c;
  --color-secondary: #c6b6ff;
  --color-tetriary-light: #bfa6a2;
  --color-tetriary-dark: #ada9bb;

  --text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  --little-box-shadow: 0px 0px 25px -10px rgba(66, 68, 90, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  color: var(--color-base);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 320px) {
  #footerEmail {
    font-size: 1rem !important;
  }
}

/* BOOTSTRAP NAVBAR */
.navbar .navbar-toggler:focus {
  color: var(--color-secondary);
  box-shadow: 0 0 0 0.1rem;
}

#basic-navbar-nav .active {
  color: var(--color-primary);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--color-secondary) !important;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-base);
}

/* BOOTSTRAP BREADCRUMB */
.breadcrumb {
  margin: 0;
}
.breadcrumb-item a:hover {
  color: var(--color-base);
}

.breadcrumb-item.active {
  color: white;
  cursor: default;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

/* BOOTSTRAP CARD (CATEGORY GROUP) */

#cardBodyCategoryGroup:hover {
  box-shadow: var(--text-shadow);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* BOOTSTRAP OVERLAY TRIGGER (BasicOverlayTrigger) */
.tooltip-arrow::before {
  border-top-color: var(--color-primary) !important;
}
.tooltip-inner {
  background-color: var(--color-primary);
}

/* STRIPE PAYMENT */

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

#payment-button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

#payment-button:hover {
  filter: contrast(115%);
  transform: scale(1.05);
}

#payment-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}
