/* POST HEADER STYLE */
.category {
  text-align: center;
  background-color: transparent;
  padding: 2% 0 1%;
  color: var(--color-secondary) !important;
  border-color: var(--color-secondary);
  cursor: pointer;
}

.category:hover {
  cursor: pointer;
  color: var(--color-primary) !important;
}

.body {
  border-bottom: 1px solid var(--color-primary) !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-tetriary-dark);
  font-size: 85%;
}

.body span {
  margin: 1% 0;
}

.opinion:hover {
  color: var(--color-secondary);
}

.opinion a {
  all: unset;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .body {
    font-size: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* POST CONTENT STYLE */
.content h2,
.content h3,
.content h4,
.content h5 {
  margin: 30px 0 16px;
  font-weight: 200;
}

.content h1 {
  font-weight: 200;
}

.content p {
  text-align: justify;
}

.content blockquote {
  border-top: 5px solid var(--color-secondary);
  border-bottom: 5px solid var(--color-secondary);
  position: relative;
  margin: 30px 0;
}

.content blockquote::before {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100px;
  height: 32px;
  background: #fff url(../public/left-quotes-sign.png) no-repeat center;
  background-size: 32px 32px;
  content: "";
}

.content blockquote p {
  font-size: calc(0.8rem + 1vw);
  font-family: var(--logo-font);
  text-align: center;
  margin: 8% 10%;
}

.content li::marker {
  color: var(--color-primary);
}

.content img {
  max-width: 100%;
  border-radius: 0.2rem;
}

.content iframe {
  display: block;
  margin: 0 auto 20px;
}
