.input {
  border: none;
  border-bottom: 1px solid grey;
  color: grey;
  margin-right: 0.75rem;
  border-radius: 0;
  font-weight: 200;
}

.input::placeholder {
  color: grey;
}

.input:hover::placeholder {
  color: lightgrey;
}

.input:hover {
  border-color: lightgrey !important;
}

.input:focus {
  color: grey;
  border-color: transparent !important;
  box-shadow: 0 0 0 0.1rem;
}

.btn {
  all: unset;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
  color: grey;
}

.icon:hover {
  color: lightgrey;
}
