/* PREV NEXT PAGE STYLE */

.prevNextCard {
  margin: 10px auto !important;
}

.prevNextCard:hover {
  color: var(--color-primary);
  box-shadow: var(--little-box-shadow);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer !important;
}
