.caption {
  width: 190px;
  height: 75px;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  left: 50%;
  margin: 0;
  padding: 5px;
}

.caption:hover {
  border-color: transparent;
}

.title {
  background-color: pink;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 200;
}

.title:hover {
  background-color: white;
  border: 2px solid violet;
  color: violet;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
